// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Arial;
}

#song_input {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  width: 200px;
  height: 200px;
}

#error_message {
  color: red;
  display: none;
}

#playerDiv {
  visibility: hidden;
  margin-top: 100px;
  margin-left: 300px;
}

#playerTable {

}

#songTitle {
  text-align: center;
  font-size: 150%;
  margin-bottom: 0;
}

#artistName {
  text-align: center;
  font-size: 120%;
  margin-top: 0;
}

#instructions {
  text-align: center;
  font-weight: bold;
  color: blue;
}

#currentLine {
  background-color: yellow;
}
